@page
@model Lab.Pages.Search.BookmarkUserModel
@{
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@500&family=Arvo&display=swap" rel="stylesheet">

<div class="m-4">
    <div class="card">
        <div class="card-header" style="background-color: #DACCE6">
            <ul class="nav nav-pills card-header-pills btn btn-purple1">
                <li class="nav-item">
                    <a href="#home" class="nav-link btn btn-purple" data-bs-toggle="tab"></a>
                </li>
            </ul>
        </div>
        <div class="card-body" style="background-color: #DACCE6">
            <div class="tab-content">
                <div class="tab-pane fade show active" style="background-color: #DACCE6" id="home">
                    <div class="row">
                        <form asp-page="=BookmarkUser">
                            <br />
                            <h2 class ="text-center" style="color: #450084;">Bookmark User</h2>
                            <input type="hidden" asp-for="mainUserID" placeholder="User ID" />
                            <input type="hidden" asp-for="otherUserID" placeholder="Other User ID" />
                            <div class="form-group">
                                <label asp-for="reason">Reason for Bookmarking @Model.firstName @Model.lastName</label>
                                <textarea class="form-control" asp-for="reason" required rows="3"></textarea>
                            </div>
                            <br />
                            <button type="submit" class="btn btn-purple"> Bookmark -> </button>
                            <a asp-page="Index" class="btn btn-warning">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>