@page
@model Lab.Pages.Search.BookmarkUserModel
@{
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@500&family=Arvo&display=swap" rel="stylesheet">

<form asp-page="=BookmarkUser">
    <br />
    <input type="hidden" asp-for="mainUserID" placeholder="User ID" />
    <br />
    <input type="hidden" asp-for="otherUserID" placeholder="Other User ID" />
    <br />
    <p>Write about why you bookmarked this User!</p>
    <input type="text" asp-for="reason" paceholder="Reason for BookMarking" />
    <br />
    <button type="submit"> Bookmark -> </button>
    <a asp-page="Index">Cancel</a>
</form>