@page
@model Lab.Pages.Search.RequesToJoinProjectModel
@{
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Arvo&display=swap" rel="stylesheet">

<form asp-page="=RequesToJoinProject">
    <br />
    <h2 style="color: #450084;">Invite To Project</h2>
   
    <input type="hidden" asp-for="userID" placeholder="User ID" />
    
    <label asp-for="projectID">Project</label>
    <br />
    <select asp-for="projectID" asp-items="Model.Projects" required> 
        <option value="">Choose a Project</option>
    </select>
    <br />
    <input type="hidden" asp-for="teamID" placeholder="Team ID" />

    <div class="form-group">
        <label asp-for="@Model.userPitch">Write about why they should join your Project!</label>
        <textarea class="form-control" asp-for="@Model.userPitch" required rows="3"></textarea>
    </div>

    <br />
    <button type="submit" class="btn btn-purple">Request -> </button>
    <a asp-page="Index" class="btn btn-warning">Cancel</a>
</form>


