@page
@model Lab.Pages.Teams.AddTeamsModel
@{
    ViewData["Title"] = "Add Teams";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Arvo&display=swap" rel="stylesheet">

<form asp-page="AddTeams">
    <br />
    <h2 style="color: #450084;">Create Team</h2>
    <label asp-for="@Model.ProjectTeam.teamName">Team Name</label>
    <br />
    <input type="text" asp-for="ProjectTeam.teamName" required placeholder="Team Name" />
    <br />
    <label asp-for="@Model.ProjectTeam.teamName">Choose a Project</label>
    <br />
    <select asp-for="projectID" asp-items="Model.Projects" required>
        <option value="">Choose a Project</option>
    </select>
    <br />
    <br />
    <button type="submit" class="btn btn-purple">Create Team -> </button>
    @*<button class="btn btn-outline-primary" asp-page="AddTeams" asp-page-handler="PopulateHandler" formnovalidate>Populate</button>
    <button class="btn btn-outline-primary" asp-page="AddTeams" asp-page-handler="ClearHandler" formnovalidate>Clear</button>*@

</form>
