@using System.Data.SqlClient
@using Lab.Pages.DB
@using Lab.Pages.AWSupload
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MCH</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Lab.styles.css" asp-append-version="true" />
</head>
    <body style="background-color: #CBB677">

        <header>
            <nav class="navbar navbar-light navbar-expand-sm fs-3" style="background-color: #450084">
                <div class="container">
                    <img src="/Images/MadisonConnectHubLogo.png" alt="avatar" class="rounded-circle img-fluid" style="width: 160px;">
                    <br />
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">

                            <li class="nav-item first-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/Index">Home</a>
                            </li>
                           
                            <li class="nav-item dropdown dropdown-items">
                                <a class="nav-link dropdown-toggle text-white secondary-items" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Projects</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-page="/Projects/AddProjects">Add a new Project</a></li>
                                    <li><a class="dropdown-item" asp-page="/Projects/MyProjects">View My Projects</a></li>
                                </ul>
                            <li/>

                            <li class="nav-item dropdown dropdown-items">
                                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Search</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-page="/Projects/projectsearch">Search for a Project</a></li>
                                    <li><a class="dropdown-item" asp-page="/Search/Index">Search for a User</a></li>
                                </ul>
                            <li />

                        </ul>
                    </div>

                @{
                    if (Context.Session.GetString("username") != null) 
                    {
                        int unreadCount = 0;
                        string sqlQuery = "Select count(*) AS readCount FROM Messages WHERE readMessage IS NULL AND otherUserID = " + Context.Session.GetInt32("userID");
                        SqlDataReader messageReader = DBClass.GeneralReaderQuery(sqlQuery);
                        while (messageReader.Read())
                        {
                            unreadCount = Int32.Parse(messageReader["readCount"].ToString());
                        }

                        int inviteCount = 0;
                        string sqlQuery1 = "Select count(*) AS inviteCount FROM RequestTwo WHERE acceptedTwo = 0 AND userID = "+ Context.Session.GetInt32("userID");
                        SqlDataReader inviteReader = DBClass.GeneralReaderQuery(sqlQuery1);
                        while (inviteReader.Read())
                        {
                            inviteCount = Int32.Parse(inviteReader["inviteCount"].ToString());
                        }

                        string fileName = "";
                        string sqlQuery2 = "Select [fileName] FROM UserProfilePic WHERE userID =" + Context.Session.GetInt32("userID");
                        SqlDataReader picReader = DBClass.GeneralReaderQuery(sqlQuery2);
                        while (picReader.Read())
                        {
                            fileName = picReader["fileName"].ToString();
                        }
                        AmazonS3Uploader urlFinder = new AmazonS3Uploader();
                        
                        string url = urlFinder.getUrl() + fileName;

                        if (unreadCount == 0)
                        {
                            <div class="text-end">
                                <a class="nav-link text-white" asp-area="" asp-page="/Messages/Index">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                                    </svg>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="text-end">
                                <a class="nav-link text-white" asp-area="" asp-page="/Messages/Index">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="red" class="bi bi-envelope-exclamation" viewBox="0 0 16 16">
                                        <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z" />
                                        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1.5a.5.5 0 0 1-1 0V11a.5.5 0 0 1 1 0Zm0 3a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z" />
                                    </svg>
                                </a>
                            </div>
                        }

                        if (inviteCount == 0)
                        {
                            <div class="text-end">
                                <a class="nav-link text-white" asp-area="" asp-page="/Search/UsersRequestingMe">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                                    </svg>
                                </a>
                            </div>
                        }

                        else
                        {
                            <div class="text-end">
                                <a class="nav-link text-white" asp-area="" asp-page="/Search/UsersRequestingMe">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="red" class="bi bi-person-fill-exclamation" viewBox="0 0 16 16">
                                        <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z" />
                                        <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 0-.5.5v1.5a.5.5 0 0 0 1 0V11a.5.5 0 0 0-.5-.5Zm0 4a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1Z" />
                                    </svg>
                                </a>
                            </div>                                                        
                        }                        

                        <div class="dropdown text-end">
                            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="@url" alt="mdo" width="60" height="60" class="rounded-circle">
                            </a>
                            <ul class="dropdown-menu text-small">
                                <li><a class="dropdown-item" asp-page="/Users/ViewProfiles">View Profile</a></li>
                                <li><a class="dropdown-item" asp-page="/Users/EditUsers" asp-route-userid=@Context.Session.GetInt32("userID")>Edit Profile</a></li>
                                <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" asp-page="/Login/ChangePassword" asp-route-userid=@Context.Session.GetInt32("userID")>Change Password</a></li>
                                <li><a class="dropdown-item" asp-page="/Login/Logout">Sign out</a></li>
                            </ul>
                        </div>
                    }

                    else 
                    {
                        <div class="text-end">
                            <a asp-page="/Login/HashedLogin"><input type="button" class="btn btn-outline-light me-2" value="Login"></a>
                            <a asp-page="/Login/CreateHashedLogin"><input type="button" class="btn btn-warning" value="Sign-up"></a>
                        </div>
                    }
                }

                </div>
            </nav>
        </header>
        <div class="container" style="background-color: #CBB677">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted" style="background-color: #DACCE6">
            <div class="container">
                &copy; 2022 - Capstone Project - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @await RenderSectionAsync("Scripts", required: false)
    </body>
    </html>