@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*Andrew Farquharson and Nick Carpenter Built this page*@

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Create an Account</p>
    <a asp-page="/Login/CreateHashedLogin" class="btn btn-primary">Create Account</a>
    <p>By: Andrew Farquharson and Nick Carpenter</p>
</div>
