@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Arvo&display=swap" rel="stylesheet">

@*Andrew Farquharson and Nick Carpenter Built this page*@

<div class="text-center">
    <img src="/Images/FINALGetconnected.png" alt="avatar"
         class="rounded-square img-fluid" style="width: 1200px;">
         <br />
         <br />
    <a asp-page="/Login/CreateHashedLogin" class="btn btn-purple" style="width:150px">Create Account</a>
    <a asp-page="/Login/HashedLogin" class="btn btn-purple" style="width:150px">Login</a>
</div>
