@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*Andrew Farquharson and Nick Carpenter Built this page*@

<div class="text-center">
    <img src="/Images/wilson.png" alt="avatar"
         class="rounded-square img-fluid" style="width: 1200px;">
         <br />
         <br />
    <a asp-page="/Login/CreateHashedLogin" class="btn btn-purple">Create Account</a>
</div>
