@page
@model Lab.Pages.Projects.AddProjectsModel
@{
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Arvo&display=swap" rel="stylesheet">

<form asp-page="AddProjects">
    <br />
    <h2 style="color: #450084;">Create a Project</h2>
    <input type="hidden" asp-for="NewProject.userID" placeholder="userID" />
    <br />
    <input type="text" asp-for="NewProject.projectName" placeholder="Project Name" />
    <br />
    <br />
    <input type="text" asp-for="NewProject.projectOwner" placeholder="Project Owner" />
    <br />
    <br />
    <input type="text" asp-for="NewProject.projectOwnerEmail" placeholder="Project Owner Email" />
    <br />
    <br />
    <div class="form-group">
        <label asp-for="@Model.NewProject.projectMissionStatement">Project Mission Statement</label>
        <textarea class="form-control" asp-for="@Model.NewProject.projectMissionStatement" rows="3"></textarea>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="@Model.NewProject.projectDescription">Project Description</label>
        <textarea class="form-control" asp-for="@Model.NewProject.projectDescription" rows="3"></textarea>
    </div>
    <br />   
    <input type="date" asp-for="NewProject.projectDate" placeholder="Project Date" />
    <br />
    <br />
    <button type="submit">Create Project -> </button>
    <a asp-page="Index">Cancel</a>

</form>