@page
@model Lab.Pages.Projects.CompleteMeetingModel
@{
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Arvo&display=swap" rel="stylesheet">

<form asp-page="CompleteMeeting">
    <br />
    <h2 style="color: #450084;">Complete Team Meeting</h2>
    <div class="form-group">
        <input type="hidden" asp-for="@Model.teamMeetingID" placeholder="userID"/>
        <label asp-for="@Model.meetingSummary">Write about what team discussed!</label>
        <textarea class="form-control required" asp-for="@Model.meetingSummary" required rows="3"></textarea>
    </div>
    <br />
    <button type="submit" class="btn btn-purple">Complete Meeting -> </button>
    <a asp-page="ViewProjects" class="btn btn-warning" asp-route-projectid="@Model.projectID">Cancel</a>

</form>