@page
@model Lab.Pages.Projects.CompleteMeetingModel
@{
}


<form asp-page="CompleteMeeting">
    <br />
    <h2 style="color: #450084;">Complete Team Meeting</h2>
    <div class="form-group">
        <input type="hidden" asp-for="@Model.teamMeetingID" placeholder="userID" />
        <label asp-for="@Model.meetingSummary">Write about what team discussed!</label>
        <textarea class="form-control required" asp-for="@Model.meetingSummary" rows="3"></textarea>
    </div>
    <br />
    <button type="submit">Complete Meeting -> </button>
    <a asp-page="ViewProjects" asp-route-projectid="@Model.projectID">Cancel</a>

</form>