@page
@model Lab.Pages.Projects.FileUploadModel
@{
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@500&family=Arvo&display=swap" rel="stylesheet">

<form method="post" enctype="multipart/form-data" asp-action="FileUpload">
    <h2 style="color: #450084;">Upload Project Profile Picture</h2>
    <div class="form-group">
        <div class="col-md-10">
            <label asp-for="files">Choose a File to Upload:</label>
            <br />
            <input asp-for="files" type="file" />
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" class="btn btn-purple" value="Upload File" />
            <a asp-page="ViewProjects" class="btn btn-warning">Cancel</a>
        </div>
    </div>
</form>