@page
@model Lab.Pages.Projects.IndexModel
@{
    ViewData["Title"] = "Search Projects";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@500&family=Arvo&display=swap" rel="stylesheet">

<br />
<a class="btn btn-purple" asp-page="projectsearch">Search for a Project -></a>
<a class="btn btn-purple" asp-page="AddProjects">Add a new Project -></a>
<a class="btn btn-purple" asp-page="MyProjects">View My Projects -></a>
