@page
@model Lab.Pages.Projects.IndexModel
@{
    ViewData["Title"] = "Search Projects";
}
<br />
<a class="btn btn-purple" asp-page="projectsearch">Search for a Project -></a>
<a class="btn btn-purple" asp-page="AddProjects">Add a new Project -></a>
<a class="btn btn-purple" asp-page="MyProjects">View My Projects -></a>
