@page
@model Lab.Pages.Projects.IndexModel
@{
    ViewData["Title"] = "Search Projects";
}

@*<form asp-action="Index">
       <p>Choose a Project to Search</p>
       <select asp-for="ProjectID" asp-items="Model.ProjectNames">
           <option value="">Choose a Project</option>
       </select>
    <input type="submit" class="btn btn-primary" />
</form>*@


<form asp-action="Index">
    <p>Choose a Project to Search</p>
        <input type="search" asp-for="NewProject.SearchString" />
       @* <a asp-page="projectsearch" class="btn btn-primary" asp-route-searchstring=@Model.SearchString>Search</a>*@
</form>
<br />
        <a asp-page="projectsearch" class="btn btn-primary" asp-route-searchstring=@Model.NewProject.SearchString>Search</a>
<br />
<br />
<a class="btn btn-primary" asp-page="AddProjects">Add a new Project -></a>
<a class="btn btn-primary" asp-page="MyProjects">View My Projects -></a>
