@page
@model Lab.Pages.Projects.RequestJoinModel
@{
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Arvo&display=swap" rel="stylesheet">

<form asp-page="RequestJoin">
    <input type="hidden" asp-for="@Model.userID" placeholder="userID" />
    <input type="hidden" asp-for="@Model.projectID" placeholder="projectID" />
    <input type="hidden" asp-for="@Model.teamID" placeholder="teamID" />
    <p>Write about why you would be a great addition to the team!</p>
    <input type="text" asp-for="@Model.userPitch" paceholder="teamID" />
    <br />
    <button type="submit">Request -> </button>
    <a asp-page="Index">Cancel</a>

</form>