@page
@model Lab.Pages.Login.CreateHashedLoginModel
@{
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Arvo&display=swap" rel="stylesheet">


<form asp-page="CreateHashedLogin">
    <label>Enter New Username:</label>
    <input asp-for="username" class="form-control" required placeholder="Enter Username" />

    <br />
   
    <label>Enter New User's Password:</label>
    <input asp-for="passphrase" class="form-control" required type="password" />
   
    <br />

    <label>First Name:</label>
    <input asp-for="firstName" class="form-control" required placeholder="Enter First Name" />

    <br />

    <label>Second Name:</label>
    <input asp-for="secondName" class="form-control" required placeholder="Enter Second Name" />

    <br />
    
    <label for="jmuType">Choose Your JMU Affiliation:</label>
    <select asp-for="jmuType" required>
        <option value="Student">Student</option>
        <option value="Faculty">Faculty</option>
    </select>
    <br />
    <br />
    <input type="submit" class="btn btn-purple" />
</form>
@{
    if (ViewData["UserCreate"] != null)
    {
        <p class="text-success">@ViewData["UserCreate"]</p>
    }

}