@page
@model Lab.Pages.Login.PasswordChangeModel
@{
}

<form asp-page="PasswordChange">

    <br />
    <h2 style="color: #450084;">Security Questions</h2>

    <label>Enter New Password:</label>
    <input asp-for="passphrase" class="form-control" required type="password" />

    <label>Verify New Password:</label>
    <input asp-for="passphrase2" class="form-control" required type="password" />

    <br />
    <br />
    <input type="submit" class="btn btn-purple" />

</form>

@{
    if (ViewData["ErrorMessage"] != null)
    {
        <p class="text-danger" align="center">@ViewData["ErrorMessage"].ToString()</p>
    }
}
