

html {
    font-size: 14px;
}

h2 {
    font-family: 'Arvo', serif;
}

h5 {
    font-family: 'Arvo', serif;
}

p {
    font-family: 'Archivo', sans-serif;
}

label {
    font-family: 'Archivo', sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-purple {
    color: #FFFFFF;
    background-color: #4891BC;
    border-color: #000000;
}

.btn-purple1 {
    color: #FFFFFF;
    background-color: #450084;
    border-color: #000000;
}


@media (min-width: 576px) {
    .card-group.card-group-scroll {
        overflow-x: auto;
        flex-wrap: nowrap;
    }
}

.card-group.card-group-scroll > .card {
    flex-basis: 35%;
}

