

html {
    font-size: 14px;
}

h2 {
    font-family: 'Arvo', serif;
}

h5 {
    font-family: 'Arvo', serif;
}

p {
    font-family: 'Archivo', sans-serif;
}

th {
    font-family: 'Archivo', sans-serif;
}


td {
    font-family: 'Archivo', sans-serif;
}

a {
    font-family: 'Archivo', sans-serif;
}

input[type="text"] {
    font-family: 'Archivo', sans-serif;
}

span {
    font-family: 'Archivo', sans-serif;
}

label {
    font-family: 'Archivo', sans-serif;
}

button {
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
}

::placeholder {
    font-family: 'Archivo', sans-serif;
}

input[type="date"], input[type="time"] {
    font-family: 'Archivo', sans-serif;
}

date {
    font-family: 'Archivo', sans-serif;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.btn-purple {
    font-family: 'Archivo', sans-serif;
    color: #FFFFFF;
    background-color: #4891BC;
    border-color: #000000;
    font-weight: 500;
}

.btn-purple1 {
    font-family: 'Archivo', sans-serif;
    color: #FFFFFF;
    background-color: #450084;
    border-color: #000000;
    font-weight: 500;
}


@media (min-width: 576px) {
    .card-group.card-group-scroll {
        overflow-x: auto;
        flex-wrap: nowrap;
    }
}

.card-group.card-group-scroll > .card {
    flex-basis: 35%;
}
