@page
@model Lab.Pages.Users.AddHobbiesModel
@{
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Arvo&display=swap" rel="stylesheet">



<form asp-page="AddHobbies">
    <input type="hidden" asp-for="userID" placeholder="User ID" />
    <br />
    <input type="text" asp-for="hobby" placeholder="Hobby" />
    <br />
    <button type="submit">Add Hobby -> </button>
    <a asp-page="ViewProfiles" asp-route-userid="@HttpContext.Session.GetInt32("userid")">Cancel</a>

</form>