@page
@model Lab.Pages.Users.AddSoftSkillsModel
@{
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Arvo&display=swap" rel="stylesheet">

<form asp-page="AddSoftSkills">
    <input type="hidden" asp-for="userID" placeholder="User ID" />
    <br />
    <input type="text" asp-for="softSkill" placeholder="Soft Skill" />
    <br />
    <button type="submit">Add Soft Skill -> </button>
    <a asp-page="ViewProfiles" asp-route-userid="@HttpContext.Session.GetInt32("userid")">Cancel</a>

</form>